<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <h2 class="h3">Logo</h2>
      </a>
      <hr>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <i class="bi bi-book"></i>
            Library
          </a>
        </li>
      </ul>
      <hr>
      <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
          <a href="/add">
            <button class="btn btn-primary rounded-pill px-3" type="button">Add New Book</button>
          </a>
        </div>
      </div>
    </div>
</nav>